language: python
sudo: false

matrix:
  include:
    - python: 3.6
      env: DJANGO=3.0.*
    - python: 3.6
      env: DJANGO=3.1.*

    - python: 3.7
      env: DJANGO=3.0.*
    - python: 3.7
      env: DJANGO=3.1.*

    - python: 3.8
      env: DJANGO=2.2.*
    - python: 3.8
      env: DJANGO=3.0.*
    - python: 3.8
      env: DJANGO=3.1.*
    - python: 3.8
      env: DJANGO=3.2.*

    - python: 3.9
      env: DJANGO=3.1.*
    - python: 3.9
      env: DJANGO=3.2.*
    - python: 3.9
      env: DJANGO=4.0.*
    - python: 3.9
      env: DJANGO=4.1.*

    - python: 3.10
      env: DJANGO=3.1.*
    - python: 3.10
      env: DJANGO=3.2.*
    - python: 3.10
      env: DJANGO=4.0.*
    - python: 3.10
      env: DJANGO=4.1.*

install:
  - python dev.py -no-container
  - pip install -q Django==$DJANGO
  - python setup.py install

script: python runtests.py
