language: python
sudo: false

matrix:
  include:
    - python: 3.9
      env: DJANGO=3.1.*
    - python: 3.9
      env: DJANGO=3.2.*
    - python: 3.9
      env: DJANGO=4.0.*
    - python: 3.9
      env: DJANGO=4.1.*
    - python: 3.9
      env: DJANGO=4.2.*

    - python: 3.10
      env: DJANGO=3.1.*
    - python: 3.10
      env: DJANGO=3.2.*
    - python: 3.10
      env: DJANGO=4.0.*
    - python: 3.10
      env: DJANGO=4.1.*
    - python: 3.10
      env: DJANGO=4.2.*
    - python: 3.10
      env: DJANGO=5.0.*
    - python: 3.10
      env: DJANGO=5.1.*

    - python: 3.11
      env: DJANGO=4.2.*
    - python: 3.11
      env: DJANGO=5.0.*
    - python: 3.11
      env: DJANGO=5.1.*

    - python: 3.12
      env: DJANGO=4.2.*
    - python: 3.12
      env: DJANGO=5.0.*
    - python: 3.12
      env: DJANGO=5.1.*

install:
  - python dev.py -no-container
  - pip install -q Django==$DJANGO
  - python setup.py install

script: python runtests.py
