include LICENSE
include README.md
include requirements.txt
recursive-include markdownx/static *
recursive-include markdownx/templates *
recursive-include markdownx/locale *
recursive-include markdownx/tests *
